:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
body{
  background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.container{
  display: flex;
  flex-direction: column;
  align-items:center;
}
.income-expense-container{
  display: flex;
  justify-content:space-around;
  margin-top:20px;
  box-shadow: 0 0 10px rgb(45, 44, 44);
  width:100%;
  max-width:300px;
  padding:10px 30px;
  border-radius: 20px;
  background: rgb(243,204,243);
background: radial-gradient(circle, rgba(243,204,243,1) 0%, rgba(233,168,242,1) 100%);
}

.income{
  color: rgb(0, 155, 0);
}
.expense{
  color: rgb(188, 14, 14);
}
.list-container{
  display: flex;
 flex-direction: column;
 align-items: center;
 width: 100%;
 max-width: 300px;
 
}
.expense-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-shadow: 0 0 10px rgb(45, 44, 44);
  padding:0 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  background: radial-gradient(circle, rgba(243,204,243,1) 0%, rgba(233,168,242,1) 100%);
}
.title{
  border-radius: 300px;
  background: rgb(243,204,243);
}
.amount{
  background: rgb(243,204,243);
}
.positive{
  border-right: 4px solid green;
}
.negative{
  border-right: 4px solid rgb(188, 14, 14);
}
.expense-card-container{
  width: 300px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap:10px;
 

}
.add-button{
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background: rgb(48,195,34);
  background: rgb(65,249,93);
  background: radial-gradient(circle, rgba(65,249,93,1) 0%, rgba(0,147,37,1) 100%);
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: rgb(45, 44, 44);
}
.add-button:hover{
  background-color: #ffffff;
}
.edit-button{
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background: rgb(48,195,34);
  background: rgb(65,249,93);
background: radial-gradient(circle, rgba(65,249,93,1) 0%, rgba(0,147,37,1) 100%);
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: rgb(45, 44, 44);
}
.edit-button:hover{
  background-color: #ff54cc;
}
.del-button{
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background: rgb(255,136,77);
background: radial-gradient(circle, rgba(255,136,77,1) 0%, rgba(255,0,0,1) 100%);
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: rgb(45, 44, 44);
}
.del-button:hover{
  background-color: #ff54cc;
}
.add-expense-container{
  max-width: 300px;
  width:100%;
  margin:20px auto;
  padding: 20px 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(45, 44, 44);
  background: rgb(243,204,243);
background: radial-gradient(circle, rgba(243,204,243,1) 0%, rgba(233,168,242,1) 100%);

}
.add-expense-container h3{
  margin-top: 0;

}
.add-expense-container input{
  width:100%;
  padding :5px;
  margin:10px 0;
  border:1px solid #221f1f;
  border-radius: 5px;

}